.covid-table {
  font-size: 12px !important;
  font-weight: 400;
}

.daily-data {
  font-size: 10px !important;
}

@media screen and (max-width: 1024px) {
  .covid-table-helpline {
    margin: 0.5 0rem;
    width: 100%;
  }
}

@media screen and (max-width: 679px) {
  .covid-table-helpline {
    margin: 0.5 0.5;
    width: 100%;
  }
}
