.navbar {
  display: flex;
  flex-direction: row;
  font-weight: 500;

  .focused {
    color: green;
  }

  .navbar-brand > img {
    width: 1.5rem;
    height: 1.5rem;
    // align-self: center;
    cursor: pointer;
  }
}
