body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0rem 5rem;
}

.site-footer {
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 3rem;

  hr {
    opacity: 0.5;

    .small {
      margin: 0.5rem 0;
    }
  }

  h6 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
    letter-spacing: 2px;
  }

  a {
    color: #737373;

    &:hover {
      color: #3366cc;
      text-decoration: none;
    }
  }

  .footer-links {
    padding-left: 0;
    list-style: none;

    li {
      display: block;

      a {
        &:active,
        &:focus,
        &:hover {
          color: #3366cc;
          text-decoration: none;
        }
      }
    }

    .inline li {
      display: inline-block;
    }
  }

  .copyright-text {
    margin: 0;
  }
}

.fa-facebook-square {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.fa-instagram-square {
  color: #3b5998;
}

.btn-social-icon {
  border: none;
  padding: 0 0.5rem 0 0 !important;
}

@media (max-width: 991px) {
  .site-footer [class^='col-'] {
    margin-bottom: 0.5rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 769px) {
  .site-footer {
    padding-bottom: 0;
    line-height: 1.8rem;

    .copyright-text {
      text-align: center;
    }

    li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 375px) and (max-width: 769px) and (max-width: 1024px) {
  body {
    margin: 0rem 0.4rem;
  }
}
