.covid-table-helpline {
  margin: 1.5rem 0;
}

@media screen and (max-width: 769px) {
  .covid-table-helpline {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .covid-table-helpline {
    margin: 0.5rem 0;
  }
}
