.bg-primary {
  background-color: #321fdb !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #2819ae !important;
}

.bg-secondary {
  background-color: #ced2d8 !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #b2b8c1 !important;
}

.bg-success {
  background-color: #2eb85c !important;
}

a.bg-success:hover,
a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: #248f48 !important;
}

.bg-info {
  background-color: #39f !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #0080ff !important;
}

.bg-warning {
  background-color: #f9b115 !important;
}

a.bg-warning:hover,
a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: #d69405 !important;
}

.bg-danger {
  background-color: #e55353 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: #de2727 !important;
}

.bg-light {
  background-color: #ebedef !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #cfd4d8 !important;
}

.bg-dark {
  background-color: #636f83 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #4d5666 !important;
}

.bg-gradient-primary {
  background: #1f1498 !important;
  background: linear-gradient(45deg, #321fdb 0%, #1f1498 100%) !important;
  border-color: #1f1498 !important;
}

.bg-gradient-secondary {
  background: #fff !important;
  background: linear-gradient(45deg, #c8d2dc 0%, #fff 100%) !important;
  border-color: #fff !important;
}

.bg-gradient-success {
  background: #1b9e3e !important;
  background: linear-gradient(45deg, #2eb85c 0%, #1b9e3e 100%) !important;
  border-color: #1b9e3e !important;
}

.bg-gradient-info {
  background: #2982cc !important;
  background: linear-gradient(45deg, #39f 0%, #2982cc 100%) !important;
  border-color: #2982cc !important;
}

.bg-gradient-warning {
  background: #f6960b !important;
  background: linear-gradient(45deg, #f9b115 0%, #f6960b 100%) !important;
  border-color: #f6960b !important;
}

.bg-gradient-danger {
  background: #d93737 !important;
  background: linear-gradient(45deg, #e55353 0%, #d93737 100%) !important;
  border-color: #d93737 !important;
}

.bg-gradient-light {
  background: #fff !important;
  background: linear-gradient(45deg, #e3e8ed 0%, #fff 100%) !important;
  border-color: #fff !important;
}

.bg-gradient-dark {
  background: #212333 !important;
  background: linear-gradient(45deg, #3c4b64 0%, #212333 100%) !important;
  border-color: #212333 !important;
}

/* Animation Support */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.rotateDownRight {
  animation-name: rotateDownRight;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes rotateDownRight {
  100% {
    transform: rotate(-90deg);
  }
}

.rotateRightDown {
  animation-name: rotateRightDown;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes rotateRightDown {
  0% {
    transform: rotate(-90deg);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.height-22 {
  height: 22px;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

@import '~bootstrap/scss/bootstrap.scss';